# Normalizar archivos de texto
* text=auto

# Python
*.py text

# Web
*.html text
*.css text
*.js text
*.json text
*.md text

# SQL
*.sql text

# Imágenes
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

# Videos
*.mp4 binary
*.mov binary

# Modelos IA
*.pt binary
*.pth binary
*.onnx binary

# PDF
*.pdf binary
