# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Modelos IA
*.pt
*.pth
*.onnx

# Base de datos local
*.db
*.sqlite3

# Logs
*.log

# Node.js (si usan frontend moderno)
node_modules/
dist/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Archivos temporales
*.tmp
*.bak
